.App {
  text-align: center;
  background-color: rgb(248, 213, 158);
}

.flex-container {
  display: flex;
}

.flex-child-right {
  flex: 1;
  padding: 20px;
}  

.flex-child-left {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  padding: 20px;
} 

#custom-header {
  padding-top: 20px;
}